@charset "UTF-8";

/* RWD Table view */
body {
    font-family: Arial, sans-serif;
    line-height: 1.25;
    background-color: #e2e1e1;
}

.main {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.main table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 150px;
}

.main table caption {
    font-size: 1.5em;
    margin: .25em 0 .75em;
}

.main thead>tr:first-child {
    background-color: #d7edfa;
}

.main table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

.main table th,
.main table td {
    padding: .625em;
    text-align: center;
}

.main table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.main table td img {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .main table {
        border: 0;
        margin-top: 0px;
    }

    .main table caption {
        font-size: 1.3em;
    }

    .main table thead {
        display: none;
    }

    .main table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .main table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .main table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .main table td:last-child {
        border-bottom: 0;
    }
}